In [ ]:
# Bài 1

import pandas as pd

series = pd.Series([1, 2, 3, 4, 5])
print(series)


name = ['An', 'Bình', 'Châu', 'Dũng']
score = [8.5, 7.0, 6.5, 9.0]
df = pd.DataFrame({'name': name, 'score': score})

df.info()

df.describe()

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4 non-null      object
 1   score   4 non-null      float64
dtypes: float64(1), object(1)
memory usage: 192.0+ bytes

          score
count  4.000000
mean   7.750000
std    1.190238
min    6.500000
25%    6.875000
50%    7.750000
75%    8.625000
max    9.000000

In [ ]:
# Bài 2

import pandas as pd

name = ['An', 'Bình', 'Châu', 'Dũng']
age = [20, 21, 22, 20]
score = [8.5, 7.0, 6.5, 9.0]

df = pd.DataFrame({'name': name, 'age': age, 'score': score})


df_loc = df.loc[df['score'] >= 8]
print(df_loc)

df_iloc = df.iloc[:, [1]]  
print(df_iloc)

df_query = df.query('score > 7 & age < 23')
print(df_query)

   name  age  score
0    An   20    8.5
3  Dũng   20    9.0
   age
0   20
1   21
2   22
3   20
   name  age  score
0    An   20    8.5
3  Dũng   20    9.0

In [ ]:
# Bài 3 

import pandas as pd
import numpy as np

name = ['An', 'Bình', 'Châu', 'Dũng']
age = [20, None, 22, 20]
score = [8.5, None, 6.5, 9.0]

df = pd.DataFrame({'name': name, 'age': age, 'score': score})

print(df.isna())

mean_age = df['age'].mean()
df['age'] = df['age'].fillna(mean_age)
print(df)

mean_score = df['score'].mean()
df['score'] = df['score'].fillna(mean_score)
print(df)

df_dropna = df.dropna()
print(df_dropna)

    name    age  score
0  False  False  False
1  False   True   True
2  False  False  False
3  False  False  False
   name        age  score
0    An  20.000000    8.5
1  Bình  20.666667    NaN
2  Châu  22.000000    6.5
3  Dũng  20.000000    9.0
   name        age  score
0    An  20.000000    8.5
1  Bình  20.666667    8.0
2  Châu  22.000000    6.5
3  Dũng  20.000000    9.0
   name        age  score
0    An  20.000000    8.5
1  Bình  20.666667    8.0
2  Châu  22.000000    6.5
3  Dũng  20.000000    9.0

In [ ]:
# Bài 4

import pandas as pd

name = ['An', 'Bình', 'Châu', 'Dũng']
age = [20, 21, 22, 20]
score = [8.5, 7.0, 6.5, 9.0]
df = pd.DataFrame({'name': name, 'age': age, 'score': score})

df['age_group'] = df['age'].apply(lambda x: 'Young' if x <= 20 else 'Adult')
print(df)

score_map = {8.5: 'Excellent', 7.0: 'Good', 6.5: 'Average', 9.0: 'Excellent'}
df['score_level'] = df['score'].map(score_map)
print(df)

df['score'] = df['score'].astype(int)
print(df[['name', 'age', 'score']])

df['name'] = df['name'].replace('Bình', 'Bình (Updated)')
print(df[['name', 'age', 'score']])

   name  age  score age_group
0    An   20    8.5     Young
1  Bình   21    7.0     Adult
2  Châu   22    6.5     Adult
3  Dũng   20    9.0     Young
   name  age  score age_group score_level
0    An   20    8.5     Young   Excellent
1  Bình   21    7.0     Adult        Good
2  Châu   22    6.5     Adult     Average
3  Dũng   20    9.0     Young   Excellent
   name  age  score
0    An   20      8
1  Bình   21      7
2  Châu   22      6
3  Dũng   20      9
             name  age  score
0              An   20      8
1  Bình (Updated)   21      7
2            Châu   22      6
3            Dũng   20      9

In [ ]:
# Bài 5

import pandas as pd

name = ['An', 'Bình', 'Châu', 'Dũng']
age = [20, 21, 22, 20]
score = [8.5, 7.0, 6.5, 9.0]
df = pd.DataFrame({'name': name, 'age': age, 'score': score})

grouped = df.groupby('age')['score'].agg(
    mean_score='mean',
    min_score='min',
    max_score='max'
).reset_index()
print(grouped)

   age  mean_score  min_score  max_score
0   20        8.75        8.5        9.0
1   21        7.00        7.0        7.0
2   22        6.50        6.5        6.5

In [ ]:
# bài 6

import pandas as pd

df1 = pd.DataFrame({'id': [1, 2, 3], 'name': ['An', 'Bình', 'Châu']})
df2 = pd.DataFrame({'id': [1, 2, 3], 'score': [8.5, 7.0, 6.5]})

merged = pd.merge(df1, df2, on='id')
print(merged)

df_age = pd.DataFrame({'age': [20, 21, 22]})
concatenated = pd.concat([merged, df_age], axis=1)
print(concatenated)

   id  name  score
0   1    An    8.5
1   2  Bình    7.0
2   3  Châu    6.5
   id  name  score  age
0   1    An    8.5   20
1   2  Bình    7.0   21
2   3  Châu    6.5   22

In [ ]:
# Bài 7

import pandas as pd

date = ['2023-01-01', '2023-02-01', '2023-03-01']
name = ['An', 'Bình', 'Châu']
df = pd.DataFrame({'date': date, 'name': name})

df['date'] = pd.to_datetime(df['date'])
print(df)

years = df['date'].dt.year
print(years)

days = df['date'].dt.day
months = df['date'].dt.month

df['name'] = df['name'].astype('category')
print(df['name'])

        date  name
0 2023-01-01    An
1 2023-02-01  Bình
2 2023-03-01  Châu
0    2023
1    2023
2    2023
Name: date, dtype: int32
0      An
1    Bình
2    Châu
Name: name, dtype: category
Categories (3, object): ['An', 'Bình', 'Châu']

In [1]:
import os
import glob
import json
import pandas as pd

# Đường dẫn tới thư mục log
log_dir = "logs/"
log_files = glob.glob(os.path.join(log_dir, "*.json"))  # Đọc mọi file JSON

report = []

for log_file in log_files:
    # Trích xuất ngày từ tên file (giả sử đúng cấu trúc log_YYYY-MM-DD.json)
    basename = os.path.basename(log_file)
    try:
        date_part = basename.split('_')[1].split('.')[0]
        date = pd.to_datetime(date_part)
    except Exception as ex:
        print(f"Lỗi lấy ngày từ file {basename}: {ex}")
        continue

    # Đọc file JSON (dòng đơn hoặc danh sách dict)
    with open(log_file, 'r', encoding='utf-8') as f:
        try:
            data = json.load(f)
        except Exception as ex:
            print(f"Lỗi đọc file JSON {basename}: {ex}")
            continue

        # Nếu file là dict, lấy trực tiếp
        if isinstance(data, dict):
            duration = data.get('duration')
            if duration is not None:
                # Có thể thêm cả user/action nếu muốn
                report.append({
                    'date': date,
                    'user': data.get('user'),
                    'action': data.get('action'),
                    'duration': duration
                })
        # Nếu file là list, duyệt từng phần tử
        elif isinstance(data, list):
            for entry in data:
                duration = entry.get('duration')
                if duration is not None:
                    report.append({
                        'date': date,
                        'user': entry.get('user'),
                        'action': entry.get('action'),
                        'duration': duration
                    })
        else:
            print(f"Định dạng JSON không đúng: {basename}")

# Xây DataFrame từ dữ liệu đã collect
df = pd.DataFrame(report)
print("Kiểm tra DataFrame tổng hợp:")
print(df)

# Tổng hợp duration theo ngày (nếu muốn tổng hợp theo user, thêm groupby theo user)
summary = df.groupby('date')['duration'].sum().reset_index()

# Xuất ra file CSV báo cáo
summary.to_csv('log_daily_duration.csv', index=False)

print("\nTổng duration theo ngày:")
print(summary)

Kiểm tra DataFrame tổng hợp:
        date user  action  duration
0 2025-01-01    A   login         5
1 2025-01-01    B  logout         3

Tổng duration theo ngày:
        date  duration
0 2025-01-01         8